ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.newsCard {
  border: solid 1px rgb(65, 60, 60);
  background-color: #e9e6e6;
  border-radius: 10px;
  width: 500px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 20px;
}

.thumb {
  display: flex;
  gap: 10px;
}
